button {
    outline: none;
    cursor: pointer;
    display: block;
    padding: 0.8em 3em;
    background-color: #8C30F5;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1.2;

    &:hover {
        animation: button-animation .3s ease-in-out;
        @keyframes button-animation {
            0% {transform: rotate(0);}
            50% {transform: rotate(-8deg);}
            75% {transform: rotate(3deg);}
            100% {transform: rotate(0);}
        }
    }
}