button {
    outline: none;
    cursor: pointer;
    display: block;
    padding: 0.8em 3em;
    background-color: #8C30F5;
    border-radius: 8px;
    border: none;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1.2;
}