.footer-container {
    background-color: #0B0D17;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer {
        width: 70%;
        display: flex;
        color: #fff;
        justify-content: space-between;
        align-items: center;

        .social-media {
            background-color: #0B0D17;
        }
    }
}