.header-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 72px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    .header {
        min-width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-icon {
            cursor: pointer;

            &:hover {
                animation: icon-animation .3s ease-in-out;
                @keyframes icon-animation {
                    0% {transform: rotate(0);}
                    25% {transform: rotate(-15deg);}
                    75% {transform: rotate(15deg);}
                    100% {transform: rotate(0);}
                }
            }
        }

        // .menu-icon:hover {
        //     transform: scale(1.1);
        //     transition: .2s ease-in-out;
        // }
    }
}